*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commom*/
.clear{
    clear: both;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-third{
    width: 33.33333%;
}

.col-half{
    width: 50%;
}

.text-center{
    text-align: center !important;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/*Main*/

/*Header*/
.header{
    width: 100%;
    height: 46.5px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header .nav{
    display: inline-block;
}

.nav li{
    position: relative;
    display: inline-block;
}



.nav > li > a{
    color: white;
}

.nav li a{
    text-decoration: none;
    line-height: 46.5px;
    padding:0 24px;
    display: block;
}

.nav  li:hover {
    color: #000;
    background-color: #ccc;
}

.nav .subnav {
    position: absolute;
    background-color: white;
    top: 100%;
    display: none;
}

.subnav > li > a{
    color: #000;
}

.subnav li{
    display: block;
}

.nav li:hover .subnav{
    display: block;
    color: #000;
}

.subnav li a{
    padding-left: 10px;
}


.header .button-icon{
    color: #fff;
    line-height: 46.5px;
    font-size: 20px;
    float: right;
    padding:0 16px;
}

.button-icon:hover{
    background-color: #f44336;
}


/*Slider*/
.slider{
    margin-top: 46.5px;
    width: 100%;
    padding-top: 50%;
    background-color: rgba(240, 241, 246, 0.5);
    color: white;
    position: relative;
    background-image: url(https://www.w3schools.com/w3images/chicago.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.slider .paragraph{
    position: absolute;
    bottom: 0;
    left: 40%;
}

.paragraph{
    text-align: center;
    margin-bottom: 10px;
}

.paragraph p{
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Content*/

.content {
    
}

.content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

.content .section-heading{
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500px;
    letter-spacing: 4px;
}

.content .section-sub-heading{
    text-align: center;
    margin:15px 0;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

.content .about-text{
    text-align: justify;
    line-height: 1.4;
}

.content .member-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 40px;
}

.content .member-name{
    font-size: 15px;
    margin-bottom: 15px;
}

.content .member-img{
    width: 154px;
    border-radius: 4px;
}

/*Tour section */
.tour-section{
    background-color: #000;
}

.tour-section .section-heading{
    color: white;
}

.tour-section .section-sub-heading{
    color: white;
}

.ticket-list{
    background-color: white;
    margin-top: 40px;
}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.ticket-list  .sold-out{
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/*Place */

.place-list{
    margin-top: 32px;
    margin-bottom: 48px;
}

.place-list .place-img{
    width: 100%;
    display: block;
} 

.place-img:hover{
    opacity: 0.6;
}

.place-list .place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-dsc{
    margin-top: 15px;
    line-height: 1.4;
}

.place-button{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.place-button:hover{
    background-color: #757575;
    color: #000;
}

/*Contact-section*/

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.7;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}

/*Map*/

.map .map-member{
    width: 100%;
}

.footer{
    padding: 64px 16px;
    text-align: center;
}

.footer .footer-img{
    letter-spacing: 0.5px;
    font-size: 20px;
}

.footer .footer-content{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    color:#000;
    opacity: 0.6;
}

.footer-content a{
    color: #000;
}

.footer .footer-img i:hover{
    opacity: 0.4;
}

/*Modal*/

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.9s;
}

.modal .modal-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    background-color:#009688;
    padding: 8px 16px;
    color: #fff;
}

.modal .modal-close:hover{
    color: #000;
    background-color: #ccc;
}

.modal .modal-header{
    background-color: #009688;
    text-align: center;
    font-size: 30px;
    height: 129px;
    line-height: 129px;
    color: #fff;
}

.modal-header > i{
    margin-right: 16px;
}

.modal-body{
    padding: 0.15px 16px;
}

.modal-body .modal-lable{
    padding: 15px 0;
    display: inline-block;
}

.modal-body .buy-ticket{
    margin: 15px 0;
    width: 100%;
    color: #fff;
    background-color: #009688;
    padding: 16px;
    font-size: 20px;
    font-weight: 15px;
    border: none;
    cursor: pointer;
}

.modal-body .buy-ticket:hover{
    opacity: 0.9;
}

.modal-body .modal-input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
}


.modal-footer {
    text-align: right;
    margin: 15px 18px;
}

.modal-help > a{
    color: #2196F3;
}

.modal.open{
    display: flex;
}

@keyframes modalFadeIn{
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform:translateY(0);
        opacity: 1;
    }
}